#form-wrapper {
    border: 1px solid darkgray;
    width: 45%;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    border-radius: 10px;
}

label {
    font-size: 19px;
}

#kopce-div {
    padding: 5px;
}

button {
    padding: 30px;
}

.kopce {
    margin: 3px;
}

#top-div {
    margin-top: 25px;
}

li {
    font-size: 19px;
    padding: 3px;
}