.lista {
    width: 35%;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

#add-study-program {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
}